<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexImage">
        <method name="openBrowser"></method>
        <method name="openPicker"></method>
        <method name="openCropper"></method>
        <method name="openBrowser"></method>
        <method name="saveToPhotoAlbum"></method>
        <method name="clearOutputImages"></method>
        <method name="setIpadPopEnable"></method>
    </plugin>
</uexplugins>
