<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexLocation">
        <method name="openLocation"></method>
		<method name="getAddress"></method>
        <method name="closeLocation"></method>
        <method name="getBaiduFromGoogle"></method>
        <method name="convertLocation" sync = "true"></method>
        <method name="getAddressByType"></method>
	</plugin>
</uexplugins>
